/* [project]/app/styles/mediaQuery.css [app-client] (css) */
@media (width <= 884px) {
  nav ul {
    width: 70%;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container h1 {
    width: 80%;
  }
}

@media (width <= 768px) {
  nav ul {
    flex-direction: column;
    position: fixed;
    height: 0;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    backdrop-filter: blur(7px);
    background: #000000c7;
    justify-content: center;
    opacity: 0;
    transition: all .4s linear;
  }

  .dropdown {
    display: flex;
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 80;
  }

  .cta {
    width: 50%;
  }

  .cancle.dropdown :first-child {
    background-color: red;
    rotate: 360deg;
    transform: translate(10px);
    height: 17%;
  }

  .cancle.dropdown :nth-child(2) {
    background-color: orange;
    transform: translateX(20px);
  }

  .cancle.dropdown :nth-child(3) {
    height: 17%;
    rotate: -360deg;
    transform: translate(10px);
    background-color: red;
  }

  nav ul li {
    height: 10%;
    width: 80%;
  }

  nav ul li a {
    color: orange;
  }

  nav ul li a:hover {
    cursor: pointer;
    transform: none;
    box-shadow: none;
    transition: all .4s linear;
  }

  nav ul li a:focus {
    outline: 1px solid orange;
  }

  .user_comment_card {
    width: 28%;
    height: 50%;
    box-shadow: 0 17px 37px -28px;
    background: #dcdcdc;
  }

  .container {
    width: 100%;
    border-radius: none;
  }

  .container p {
    display: none;
  }

  .what_we_do_intro {
    padding: 20px;
  }

  .what_we_do_intro p {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
  }

  .user_comment_card p {
    width: 80%;
    font-style: italic;
  }

  .user_img h3 {
    position: absolute;
    bottom: 17px;
    left: -2%;
  }

  .what_we_do .service h3 {
    font-size: 1.5rem;
  }

  .container h1 {
    letter-spacing: 5px;
  }

  .what_our_users_says_section {
    transform: translateY(-80px);
  }

  .what_our_users_says_section h2 {
    padding: 2px 16px;
    z-index: 1;
    position: absolute;
    top: 27px;
    border-radius: 10px;
    font-size: 1.5em;
  }

  .what_we_do_cards {
    padding: 20px 20px 80px;
  }

  .what_our_users_says {
    margin: 50px;
  }

  .quote_top, .quote_bottom {
    font-size: 5rem;
  }

  .quote_bottom {
    right: 5%;
    bottom: 26%;
  }

  .quote_top {
    top: -7%;
    left: 3%;
  }

  .slide_left, .slide_right {
    bottom: 12%;
  }

  :is(.slide_left, .slide_right):hover {
    border: .5px solid;
    scale: 1;
    cursor: pointer;
    transform: translateY(0);
    box-shadow: none;
  }

  .slide_left {
    left: 55%;
  }

  .slide_right {
    right: 5%;
  }

  .our_team {
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .our_team p {
    margin-bottom: 0;
    width: 90%;
  }

  .footer-container {
    flex-direction: column;
  }

  .contact-form-container {
    animation: 1s linear fill;
  }

  .contact-form-container form {
    width: 90%;
  }

  @keyframes fill {
    from {
      height: 0;
    }

    to {
      height: 600px;
    }
  }
}

@media (width <= 320px) {
  .user_comment_card {
    flex-direction: column;
    width: 55%;
  }

  .user_comment_card p {
    padding: 0;
  }

  .user_img {
    height: 60%;
    width: 80%;
  }

  .user_img .slider_img {
    width: 50%;
    height: 90%;
  }

  .user_img h3 {
    position: relative;
    height: 10%;
    width: 100%;
    padding: 16px 0;
  }

  .quote_top, .quote_bottom {
    font-size: 4rem;
  }

  .quote_bottom {
    right: 3%;
    bottom: 15%;
  }
}

/*# sourceMappingURL=app_styles_mediaQuery_b52d8e88.css.map*/