@media screen and (max-width: 375px) {
  nav ul {
    flex-direction: column;
    position: fixed;
    height: 0;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    backdrop-filter: blur(7px);
    background: rgba(0, 0, 0, 0.685);
    justify-content: center;
    /* display: none; */
    opacity: 0;
    transition: 0.4s linear;
  }

  .dropdown {
    display: flex;
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 80;
  }

  .our_team {
    p {
      margin-bottom: 0;
    }
  }

  .cancle.dropdown :nth-child(1) {
    background-color: red;
    rotate: 360deg;
    transform: translate(10px);
    height: 17%;
  }
  .cancle.dropdown :nth-child(2) {
    background-color: orange;
    transform: translateX(20px);
  }
  .cancle.dropdown :nth-child(3) {
    height: 17%;
    rotate: -360deg;
    transform: translate(10px);
    background-color: red;
  }

  nav ul li {
    height: 10%;
    width: 80%;
  }

  nav ul li a {
    color: orange;
    &:hover {
      cursor: pointer;
      transform: none;
      box-shadow: none;
      transition: 0.4s linear;
    }
  }
  nav ul li a:focus {
    outline: 1px solid orange;
  }
  .user_comment_card {
    width: 28%;
    height: 50%;
    box-shadow: 0 17px 37px -28px;
    background: rgb(220 220 220);
  }

  .container {
    width: 100%;
    border-radius: none;
    p {
      display: none;
    }
  }

  .cta {
    background: orange;
    transition: 0.4s linear;
    color: black;
    border: none;
  }

  .what_we_do_intro {
    padding: 20px;
    p {
      font-size: 1rem;
      text-align: center;
      margin: 0;
    }
  }

  .user_comment_card {
    p {
      width: 80%;
      font-style: italic;
    }
  }

  .user_img {
    h3 {
      position: absolute;
      bottom: 17px;
      left: -2%;
    }
  }

  .team_member {
    background-color: rgb(52 51 49);
    color: white;
  }

  .what_we_do .service h3 {
    font-size: 1.5rem;
  }

  .container h1 {
    letter-spacing: 5px;
  }

  .what_our_users_says_section {
    h2 {
      padding: 2px 16px;
      z-index: 1;
      position: absolute;
      top: 27px;
      background: orange;
      border-radius: 10px 0;
      border: 1px solid #343331;
      font-size: 1.5em;
    }
  }

  .what_our_users_says {
    background-color: rgb(52 51 49);
    margin: 50px;
  }

  .what_we_do .service {
    background-color: rgb(52 51 49);
  }

  .quote_top,
  .quote_bottom {
    font-size: 5rem;
  }

  .quote_bottom {
    right: 5%;
    bottom: 26%;
  }

  .quote_top {
    top: -7%;
    left: 3%;
  }

  .slide_left,
  .slide_right {
    bottom: 12%;
    &:hover {
      border: 0.5px solid;
      scale: 1;
      cursor: pointer;
      transform: translateY(0);
      box-shadow: none;
    }
  }

  .slide_left {
    left: 55%;
  }
  .slide_right {
    right: 5%;
  }

  .our_team {
    margin: 30px auto;
    padding: 10px;
    text-align: center;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-logo h2,
  .footer-links h3,
  .footer-contact h3,
  .footer-social h3 {
    color: orange;
  }
}
