<<<<<<< HEAD
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

>>>>>>> 930852e (updated website)
body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
  background-color: #343331;
=======
  background-color: gainsboro;
  padding: 5px 30px;
>>>>>>> 930852e (updated website)
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
<<<<<<< HEAD
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #ffa50094;
}
.cta_holder {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta {
  width: 20%;
  height: 50%;
  display: flex;
  color: gainsboro;
  text-decoration: none;
  border: 2px solid gainsboro;
  line-height: 5;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.cta:hover {
  color: black;
  background: orange;
  transition: color 0.3s linear;
}

.dropdown {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
.line {
  width: 80%;
  height: 15%;
  background: orange;
  border-radius: 10px;
  transition: 1s;
}

nav ul {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav #logo {
  width: 70px;
  height: 70px;
  margin-left: 10px;
=======
}

nav ul {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}

nav #logo {
  width: 7%;
  height: 90%;
>>>>>>> 930852e (updated website)
}

nav #logo img {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
}

nav ul li {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: gainsboro;
    text-decoration: none;
    font-size: large;
    line-height: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    &:hover {
      cursor: pointer;
      scale: 1.2;
      color: white;
      transition: 0.3s linear;
=======
  border-radius: 100%;
}

nav ul li {
  margin-left: 20px;
  a {
    color: black;
    text-decoration: none;
    font-size: large;
    border: 2px solid black;
    padding: 10px 20px;
    line-height: 5;
    border-radius: 5px;
    &:hover {
      color: white;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.473);
      transition: color 0.3s linear;
>>>>>>> 930852e (updated website)
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
<<<<<<< HEAD
  padding: 80px 20px;
  text-align: center;
  height: auto;
=======
  padding: 20px;
  text-align: center;
  height: 80vh;
>>>>>>> 930852e (updated website)
  background-image: url("/asset/img/3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
<<<<<<< HEAD
  border-bottom: 1px solid #ffa50094;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
  border-radius: 10px;
  backdrop-filter: blur(7px);
  position: relative;
  background: rgba(0, 0, 0, 0.8);
=======
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.575);
>>>>>>> 930852e (updated website)
}

.container h1 {
  font-size: 2rem;
  letter-spacing: 10px;
  color: white;
  font-weight: bold;
}

.container p {
  font-size: 1.2rem;
  color: white;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  font-style: oblique;
}

<<<<<<< HEAD
=======
.cta {
  color: gainsboro;
  text-decoration: none;
  border: 2px solid gainsboro;
  padding: 10px 20px;
  line-height: 5;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

>>>>>>> 930852e (updated website)
.what_we_do {
  height: auto;
}

.what_we_do_intro {
<<<<<<< HEAD
  color: white;
  text-align: center;
  padding: 50px;
  opacity: 0;
=======
  color: black;
  margin: 20px auto;
>>>>>>> 930852e (updated website)
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
    margin: 0 auto;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
<<<<<<< HEAD
    color: orange;
  }
}

.fadeIn {
  opacity: 1;
  transition: opacity 1s;
  animation: fadeIn 1 1s linear;
}

@keyframes fadeIn {
  0% {
    transform: translateY(-30px);
    color: gray;
  }
  100% {
    transform: translateY(0);
    color: white;
=======
>>>>>>> 930852e (updated website)
  }
}

.what_we_do .service {
<<<<<<< HEAD
  height: 300px;
  width: 350px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.8);
=======
  height: 50%;
  width: 28%;
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.548);
>>>>>>> 930852e (updated website)
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

<<<<<<< HEAD
.slideIn {
  animation: slideIn 1 1s linear;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    box-shadow: 0px 11px 32px -19px orange;
    transform: translateX(-90px);
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.what_we_do .service img {
  width: 40%;
=======
.what_we_do .service img {
  width: 50%;
  height: 50%;
>>>>>>> 930852e (updated website)
  height: auto;
}

.what_we_do .service h3 {
<<<<<<< HEAD
  font-size: 1.7rem;
  font-weight: 500;
  color: orange;
=======
  font-size: 2rem;
  font-weight: 500;
>>>>>>> 930852e (updated website)
}

.what_we_do .service p {
  font-size: 1.2rem;
  text-align: center;
}

.what_we_do_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
<<<<<<< HEAD
  width: 100%;
  gap: 20px;
  padding: 20px;
  height: auto;
  margin-bottom: 150px;
=======
  padding: 20px;
  height: auto;
>>>>>>> 930852e (updated website)
}

.our_team {
  width: 100%;
  height: auto;
  margin: 20px auto;
<<<<<<< HEAD
  padding: 50px;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    color: orange;
=======
  h2 {
    font-size: 2rem;
    font-weight: bold;
>>>>>>> 930852e (updated website)
  }
  .team_cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
    flex-wrap: wrap;
    text-align: center;
    gap: 35px;
    padding: 20px;
    border-radius: 10px;
  }
  p {
    font-size: 1.2rem;
    color: white;
=======
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 45px;
>>>>>>> 930852e (updated website)
  }
}

.team_member {
<<<<<<< HEAD
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 10px;

  div {
    width: 50%;
    height: 50%;
=======
  width: 100px;
  height: 100px;
  div {
    width: 100%;
    height: 100%;
>>>>>>> 930852e (updated website)
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
<<<<<<< HEAD
    box-shadow: inset 0px -70px 46px -52px black;
  }
}

.what_our_users_says_section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 0.4s linear;
  overflow: hidden;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #ffa50094;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 50px;
    position: absolute;
    z-index: 1;
    top: -5%;
    color: orange;
=======
>>>>>>> 930852e (updated website)
  }
}

.what_our_users_says {
<<<<<<< HEAD
=======
  width: 100%;
>>>>>>> 930852e (updated website)
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
<<<<<<< HEAD
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
}

.user_img {
  width: 120px;
  height: 120px;
  .slider_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 85%;
    height: 85%;
    border-radius: 100%;
    background-position: center;
    box-shadow: inset 0px -60px 46px -40px black;
  }
}

.user_comment_holder {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.8);
}

.user_comment_card {
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;

  p {
    width: 70%;
    padding-right: 20px;
  }
}

.user_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 85%;
    height: 85%;
    border-radius: 100%;
  }
  h3 {
    width: 100%;
    height: 15%;
    text-align: center;
  }
=======
  background-color: rgba(0, 0, 0, 0.418);
  border-radius: 10px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  position: relative;
  .user_comment_card {
    width: 50%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-shrink: 0;
    p {
      width: 70%;
      padding: 20px;
    }
  }
}
.user_img {
  width: 100px;
  height: 100px;
}

.user_img img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
>>>>>>> 930852e (updated website)
}

.quote_top,
.quote_bottom {
  font-size: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: start;
  width: 10%;
  height: 20%;
  position: absolute;
}

.quote_top {
  top: -10%;
  left: 5%;
}
.quote_bottom {
  right: 5%;
  bottom: 55%;
}

.content {
<<<<<<< HEAD
  width: 500%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.5s linear;
=======
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
>>>>>>> 930852e (updated website)
}

.slide_left,
.slide_right {
  position: absolute;
  font-weight: bold;
<<<<<<< HEAD
  bottom: 35%;
  font-size: 2em;
=======
  font-size: 2em;
  transition: opacity 0.5s ease-in-out;
>>>>>>> 930852e (updated website)
  background-color: rgba(0, 0, 0, 0.164);
  color: white;
  padding: 10px;
  border-radius: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 0739996 (updated website)
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
<<<<<<< HEAD
  &:hover {
    border: 0.5px solid;
    scale: 1.1;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 36px 50px -10px black;
    transition: 0.4s linear;
  }
}

.slide_left {
  left: 2%;
}

.slide_right {
  right: 2%;
}

.footer {
  backdrop-filter: blur(7px);
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #f8b400;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.fab.fa-facebook:hover {
  color: rgb(14, 77, 248);
}
.fab.fa-instagram:hover {
  color: red;
}
.fab.fa-twitter:hover {
  color: rgb(44, 195, 255);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

.footer-logo h2,
.footer-links h3,
.footer-contact h3,
.footer-social h3 {
  color: orange;
=======
=======
  transition: 0.2s linear;
  &:hover {
    border: 2px solid;
    scale: 1.2;
  }
>>>>>>> 0739996 (updated website)
}

.slide_left {
  left: 2%;
}

.slide_right {
<<<<<<< HEAD
  right: 0;
>>>>>>> 930852e (updated website)
=======
  right: 2%;
>>>>>>> 0739996 (updated website)
}
