body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  background-color: gainsboro;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta:hover {
  background: orange;
  transition: 0.4s linear;
  color: black;
  border: none;
}

.dropdown {
  width: 40px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: none;
}
.line {
  width: 80%;
  height: 15%;
  background: black;
  border-radius: 10px;
  transition: 1s;
}

nav ul {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav #logo {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}

nav #logo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

nav ul li {
  width: 20%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: black;
    text-decoration: none;
    font-size: large;
    line-height: 5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;

    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
      box-shadow: 0px 36px 50px -18px;
      transition: 0.4s linear;
    }
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  text-align: center;
  height: auto;
  background-image: url("/asset/img/3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  border-radius: 10px;
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.575);
}

.container h1 {
  font-size: 2rem;
  letter-spacing: 10px;
  color: white;
  font-weight: bold;
}

.container p {
  font-size: 1.2rem;
  color: white;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  font-style: oblique;
}

.cta {
  color: gainsboro;
  text-decoration: none;
  border: 2px solid gainsboro;
  padding: 10px 20px;
  line-height: 5;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.what_we_do {
  height: auto;
}

.what_we_do_intro {
  color: black;
  margin: 20px auto;
  text-align: center;
  padding: 50px;
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: justify;
    margin: 0 auto;
  }
  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
}

.what_we_do .service {
  height: 300px;
  width: 350px;
  padding: 10px 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.548);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.what_we_do .service img {
  width: 50%;
  height: 50%;
  height: auto;
}

.what_we_do .service h3 {
  font-size: 2rem;
  font-weight: 500;
}

.what_we_do .service p {
  font-size: 1.2rem;
  text-align: center;
}

.what_we_do_cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding: 20px;
  height: auto;
}

.our_team {
  width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 50px;

  h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  .team_cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 35px;
    background: rgba(0, 0, 0, 0.199);
    padding: 20px;
    border-radius: 10px;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 45px;
  }
}

.team_member {
  width: 400px;
  height: 300px;
  div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: inset 0px -118px 46px -52px black;
    color: white;
    text-shadow: 3px -1px black;
  }
}

.what_our_users_says_section {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 0.4s linear;
  overflow: hidden;
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    padding: 50px;
  }
}

.what_our_users_says {
  height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.418);
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
}

.user_img {
  width: 120px;
  height: 120px;
}

.user_comment_holder {
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_comment_card {
  width: 50%;
  height: 60%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-shrink: 0;

  p {
    width: 70%;
    padding-right: 20px;
  }
}

.user_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 70%;
    height: 85%;
    border-radius: 100%;
  }
  h3 {
    width: 100%;
    height: 15%;
    text-align: center;
  }
}

.quote_top,
.quote_bottom {
  font-size: 10rem;
  font-weight: bold;
  display: flex;
  justify-content: start;
  width: 10%;
  height: 20%;
  position: absolute;
}

.quote_top {
  top: -10%;
  left: 5%;
}
.quote_bottom {
  right: 5%;
  bottom: 55%;
}

.content {
  width: 500%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.5s linear;
}

.slide_left,
.slide_right {
  position: absolute;
  font-weight: bold;
  bottom: 35%;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.164);
  color: white;
  padding: 10px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    border: 0.5px solid;
    scale: 1.1;
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 36px 50px -10px black;
    transition: 0.4s linear;
  }
}

.slide_left {
  left: 2%;
}

.slide_right {
  right: 2%;
}

.footer {
  background: #222;
  color: #fff;
  padding: 80px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.footer-logo h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin: 8px 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #f8b400;
}

.footer-social a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.fab.fa-facebook:hover {
  color: rgb(14, 77, 248);
}
.fab.fa-instagram:hover {
  color: red;
}
.fab.fa-twitter:hover {
  color: rgb(44, 195, 255);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #444;
  padding-top: 10px;
}
